.detail-page {
  width: 45%;
  overflow: hidden;
}
/********quick nav header*************/
#anchor {
  height: 35px;
  position: relative;
  top: 10px;
}
li.breadcrumb-item {
  height: 25px !important;
}

.dropdown-hover:hover > .dropdown-menu {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
}
/**********image containe****************/
.img-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  width: calc(100% - 25px);
  margin-inline: 12.5px;
  height: 320px;
  box-shadow: inset 0 0 8px rgba(70, 70, 70, 0.2);
  pointer-events: all;
  box-shadow: 1px 0 5px 5px rgba(70, 70, 70, 0.2);
}
.img-container img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
  object-fit: contain;
}

.img-container:hover img {
  opacity: 0.5;
}
.img-container .nav-btn {
  opacity: 0;
  transition: opacity 1s;
  transform: scale(0.6);
}
.img-container:hover .nav-btn {
  opacity: 1;
}


.img-btns {
  background-color: rgba(var(--accent-color-rgb), 0.75);
  padding: 10px 20px;
  color: transparent;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  display: none;
  position: absolute;
  bottom: 5px;
  right: 15px;
  justify-content: space-between;
  transition: width ease-in 0.5s, color 0.3s ease-in-out 0.2s;
}

.img-btns:hover {
  color: white;
  max-width: 100%;
  width: 150px;
}

.img-btns:hover i:hover {
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  max-width: 33%;
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.25);
}

.img-container:hover .img-btns {
  display: flex;
}
/**media viewer**/

.media_viewer {
  min-width: calc(100% - 80px);
  width: auto;
  height: 100%;
  white-space: nowrap;
}

.media_viewer:has(.expand) {
  padding: 0;
  width: 100%;
}

.viewer-img {
  width: calc((100% - 20px) / 6);
  height: 120px;
  overflow: hidden;
  border: 5px solid rgb(var(--primary-color-rgb));
  border-radius: 25px;
  margin: 20px;
  background-color: black;
  display: flex !important;
  align-items: center;
  justify-content: center;
  display: inline-block;
  cursor: pointer;
}
.expand {
  width: 100% !important;
  height: 100%;
  margin: 0px;
  border: none;
  border-radius: 0 20px 20px 0;
}
.viewer-img img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
}

#closeMediaViewer {
  position: fixed;
  border: 4px solid rgb(var(--cover-rgb));
  border-radius: 50%;
  width: 25px;
  height: 25px;
  top: 50px;
  right: 50px;
  text-align: center;
  background: rgb(var(--accent-color-rgb));
  cursor: pointer;
}
/******basic info********/
.hiddenNum {
  width: 15px;
  border: none;
}
.hiddenNum:focus {
  border: none;
  outline: none;
}

.display-input[type="number"] {
  border: none !important;
  outline: none;
  background: transparent;
  padding: 0 5px;
  width: 45px;
}

.display-input[type="number"] + span {
  font-weight: bold;
  color: rgb(var(--accent-color-rgb));
}

.display-input[type="number"] + span:hover {
  display: none;
}
.display-input[type="number"]:hover {
  z-index: 10;
}

.display-input[type="text"] {
  border: none;
  outline: none;
  background-color: transparent;
}

.display-input[type="text"]:focus {
  border-bottom: 2px solid black;
}

.plan-info {
  width: 200px;
  height: 100%;
  background-color: #fff;
  border-left: 10px solid #ccc;
  padding: 10px;
  overflow: hidden;
  box-shadow: inset 0 0 8px rgba(70, 70, 70, 0.2);
}

.ele-info {
  min-height: 200px;
  height: calc(100% - 500px);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 20px 20px;
}
.hiddenNum {
  width: 15px;
  border: none;
   background-color: transparent;
}
.hiddenNum:focus {
  border: none;
  outline: none;
}
/*****sections and details ******/
.detail p,
.detail li,
.detail span {
  white-space: normal;
  overflow-wrap: break-word;
}

#details {
  position: relative;
  font-size: 100%;
  column-gap: 15px;
  display: block;
  min-height: 100%;

  /* min-height: calc(100%  - 35px); */
  /* column-count: 2;
  width: 266px; */
}

/* 
  .section{
    width: 581px;
  } */

#details .section .header {
  font-size: 150%;
}

#details .section .section .header {
  font-size: 125%;
}

#details .section .section .section .header {
  font-size: 100%;
}

#details .detail {
  font-size: 95%;
}
.header {
  font-weight: bold;
}
.section .section {
  width: 100%;
  padding-left: 5%;
  display: inline-block;
}
.section p {
  display: inline;
}
.section {
  position: relative;
  height: auto;
  width: 100%;
  margin-bottom: 5px;
  scroll-margin-right: 40px;
  pointer-events: all;
}
.section .detail {
  padding-left: 2%;
}
.detail ul,
ol {
  padding: 3%;
  padding-left: 10%;
}

.section-name {
  position: relative;
  display: flex;
  width: 85px;
  margin-right: 20px;
  color: rgb(var(--accent-color-rgb));
  font-weight: bold;
  font-size: 0.95em;
  right: 0px;
}

.section-name button {
  position: absolute;
  background-color: #fff;
  border: 3px rgb(var(--accent-color-rgb)) solid;
  border-radius: 50%;
  left: 70px;
  width: 20px;
  height: 20px;
}

.section-name button:hover {
  background-color: rgb(var(--highlight-rgb));
  z-index: 10;
}

.section-content {
  width: 72%;
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  color: #777;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.section-content b {
  color: rgb(var(--primary-color-rgb)) !important;
}
.section-content td {
  padding: 0.15em !important;
  white-space: nowrap;
}

.sec-btn {
  opacity: 0;
  background: linear-gradient(
    rgba(var(--accent-color-rgb), 0.5) 0%,
    rgba(var(--accent-color-rgb), 0.1) 50%,
    rgba(var(--accent-color-rgb), 0.5) 100%
  );
  text-align: center;
  transition: all ease-in 0.25s;
}

.addBtn {
  width: 100%;
  height: 5px;
  transition: all ease-in 0.25s;
}

.addBtn:hover {
  opacity: 0.8;
  height: 25px;
}
.section span > i {
  display: none;
}
#details > .section span:hover > i {
  position: relative;
  display: inline-block;
  left: 0;
  top: 0;
}
.section span:hover > i {
  display: inline-block;
  position: absolute;
  left: -20px;
  top: 2.5px;
}
/* 
.measure{
  position: absolute;
  background-color: aqua;
  white-space: normal;
  overflow-wrap: break-word;
  line-height: inherit;

} */
@media screen and (max-width: 1224px) {
  .viewer-img {
    width: calc((100% - 2rem) / 4);
  }
  .viewer-img:nth-of-type(6n + 3) {
    margin-inline: 0;
  }
  .viewer-img:nth-of-type(6n + 4) {
    margin-inline: 0;
  }
  .viewer-img:nth-of-type(4n + 2) {
    margin-right: 1rem;
  }
  .viewer-img:nth-of-type(4n + 3) {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .viewer-img {
    width: calc(100% / 3);
  }
  .viewer-img:nth-of-type(4n + 2) {
    margin-inline: 0;
  }
  .viewer-img:nth-of-type(4n + 3) {
    margin-inline: 0;
  }
}
@media screen and (max-width: 795px) {
  .viewer-img {
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 600px) {
  .viewer-img {
    width: 80%;
    margin-inline: auto !important;
  }
}