#templates 
django-bootstrap5
django-htmx
django-decorator-include
djangorestframework

django-mptt
#testing

pytest
pytest-django
pytest-cov
pytest-watch

#env
python-dotenv

#production test
whitenoise