div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_img {
  width: 300px;
  height: 300px;
}

form {
  width: 100%;
  padding: 0 50px;
}

.password-toggle {
  border: none;
  background: transparent;
  outline: none;
  position: absolute;
  right: 10px;
  z-index: 10;
  bottom: 15px;
  color: rgb(var(--dark-lines-rgb));
}
