{% if detail.type == 'div' %}
  {% for frag in detail.content %}
    {% include "components/details/detailContent.html" with detail=frag %}
  {% endfor %}
{% else %}

{% if detail.type == 'p' %}
<span class="{% for eff in detail.effects %}{{ eff }} {% endfor %}" 
   {% if detail.color %}style="color: {{ detail.color }};"{% endif %}
  >
  {% if detail.content|stringformat:"s" == detail.content %}
  {{ detail.content}}
  {% else %} 
  {% for frag in detail.content %}
        {% include "components/details/detailContent.html" with detail=frag %}
    {% endfor %} 
   {% endif %}
</span>
{% elif detail.type == 'ref' %}
<span class="{% for eff in detail.effects %}{{ eff }} {% endfor %}" 
   {% if detail.color %}style="color: {{ detail.color }};"{% endif %}
  >
  
  <a href="{{detail.href}}">
    {% if detail.content|stringformat:"s" == detail.content %}
    {{ detail.content}}
    {% else %} 
    {% for frag in detail.content %}
    {% include "components/details/detailContent.html" with detail=frag %}
    {% endfor %} 
    {% endif %}
  </a>
</span>
{% elif detail.type == 'ol' %}
<ol>
  {% for frag in detail.content %}
  <li>
    {% include "components/details/detailContent.html" with detail=frag %}
  </li>
  {% endfor %}
</ol>
{% elif detail.type == 'ul' %}
<ul>
  {% for frag in detail.content %}
  <li>
    {% include "components/details/detailContent.html" with detail=frag %}
  </li>
  {% endfor %}
</ul>
{% endif%}
{% endif %}
