<section class="ele-info" x-show="activeTab === 'metrics'">
  <b>Goal:</b>
  <div
    contenteditable="{{ele.isOwner}}"
    id="ele-goal"
    class="editableDiv"
    @blur="eleObj.updateGoal($event.target)"
    x-text="ele.goal"
  >
    {{ele.goal}}
  </div>
  {% if ele.metrics %}
  <ul>
    <li>
      <b>Metric:</b>
      <b>Target</b>
    </li>
    {% for metric in ele.metrics %}
    <li>
      <b>{{ metric.name|capfirst }}:</b>
      <span x-text="ele.metric.target">{{ metric.target }}</span>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</section>
