<section class="ele-info" x-show="activeTab === 'info'">
  <ul>
    <li>
      <b>Creator:</b>
      <span x-text="ele.creator">{{ ele.creator }}</span>
    </li>
    <li>
      <b>Type:</b>
      <span x-text="ele.category">{{ ele.category }}</span>
    </li>
    <li>
      <b>Visibility:</b>
      <span x-text="ele.share ? 'public' : 'private'">
        {{ ele.share|yesno:"public,private" }}
      </span>
    </li>

    {% if ele.type == 'recipe' %}
    <li style="position: relative">
      <b>Serving:</b>
      <input
        :disabled="ele.isOwner!=='true'"
        name="servings"
        type="number"
        class="display-input"
        x-model="ele.serv"
        value="{{ ele.serv }}"
        @change="eleObj.updateServing($event.target)"
      />
    </li>

    <!-- Prep Time -->
    <li style="position: relative">
      <b>Prep Time:</b>

      <!-- Hours -->
      <input
        :disabled="ele.isOwner!=='true'"
        type="number"
        class="display-input"
        x-model="ele.prep_time.h"
        value="{{ ele.prep_time.h }}"
        @change="eleObj.updatePrepTime($event.target, true)"
      />
      <span style="right: 42px">H:</span>

      <!-- Minutes -->
      <input
        :disabled="ele.isOwner!=='true'"
        type="number"
        class="display-input"
        x-model="ele.prep_time.m"
        value="{{ ele.prep_time.m }}"
        @change="eleObj.updatePrepTime($event.target, false)"
        style="left: 123px"
      />
      <span style="right: 9px">M</span>
    </li>

    {% else %}

    <!-- Duration -->
    <li style="position: relative">
      <b>Duration:</b>
      <span x-text="ele.formatedDuration">{{ele.duration}}</span>
      <input
        :disabled="ele.isOwner!=='true'"
        type="number"
        class="hiddenNum"
        @change="eleObj.updateDuration($event.target)"
        x-model="ele.duration"
        value="ele.duration"
        min="1"
      />
    </li>

    {% endif %}
    <li>
      <b>Created :</b>
      <span x-text="ele.created"> {{ ele.created|date:"F j, Y H:i" }}</span>
    </li>
    <li>
      <b>Edited :</b>
      <span x-text="ele.edited"> {{ ele.edited|date:"F j, Y H:i" }}</span>
    </li>
  </ul>
</section>
