{% load nested_tags %}

<span id="details" x-ref="details">
  {% recursetree ele.details %}

  <div
    class="section"
    x-ref="section-{{node.id}}"
    id="section-{{node.id}}"
    "
    data-order="{{node.order}}"
    draggable="true"
  >
    <span
      style="position: relative"
      ondragover="event.preventDefault()"
      ondrop="reorderElements(this.closest('.section').children[2],this.closest('.section'));"
    >
      <i
        class="fas fa-plus add-btn"
        onclick="createSection(this.closest('.section'),'parent')"
      ></i>
      <span
        class="header display-input"
        contenteditable="true"
        onblur="renameSection(this,node.id)"
        onkeydown="this.style.border='none'"
        >{{node.section}}{% if node.detail or node.subSections %}:{% endif%}</span>
    </span>
    <span class="detail" ondblclick="startEditSection(this)">
      {% for detail in node.detail %}
       {% include "components/details/detailContent.html" %}
      {% endfor %}
    </span>
    <span class="subSec"> {{ children }} </span>
    <div
      class="addBtn sec-btn"
      onclick="createSection(this.closest('.section'),'sibling')"
      ondrop="reorderElements(this,this.closest('.section'));"
    >
      +
    </div>
  </div>

  {% endrecursetree %}
</span>
