{% load nested_tags %}

<span id="details" x-ref="details">
  {% recursetree ele.details %}

  <!-- ondragover="event.preventDefault()" 
    ondrop="reorderElements(this.closest('.section').children[2],this.closest('.section'));" -->
  <div class="section" x-ref="section-{{node.id}}" id="section-{{node.id}}" data-order="{{node.order}}">
    <span style="position: relative">
      <i class="fas fa-plus add-btn"></i>
      <!--onclick="createSection(this.closest('.section'),'parent')"-->
      <span
        class="header display-input"
        contenteditable="true"
      >{{node.section}}{% if node.detail or node.subSections %}:{% endif %}</span>
      <!-- onlclick="console.log('dbclick');console.log('foucus');"
            onblur="renameSection(this,${ele.id})",
            onkeydown="this.style.border='none'" -->
    </span>
    <span class="detail">
      <!-- ondblclick="startEditSection(this)"-->
      {% for detail in node.detail %} 
           {% include "components/details/detailContent.html" %}

      {% endfor %} 
    </span>
    <span class="subSec"> {{ children }} </span>
    <div class="addBtn sec-btn">+</div>
    <!--         onclick="createSection(this.closest('.section'),'sibling')"
        ondrop="reorderElements(this,this.closest('.section'));"
        -->
  </div>

  {% endrecursetree %}
</span>
