{% load static %}

<div id="profile-header">
  <div class="img_container">
    <div id="avatar">
      <input
        type="file"
        name="avatar_img"
        accept="image/*"
        class="d-none"
        id="id_avatar_img"
      />
      {% if user.avatar_img %}
      <img
        alt="{{user.username}} avatar image"
        src="{{user.avatar_img.url}}"
        :src="user.avatar_img"
        data-fallback="{% static 'assets/profile.jpg' %}"
        onerror="this.src=this.dataset.fallback;"
      />
      {% else %}
      <img src="{% static 'assets/profile.jpg' %}" />
      {% endif %}
    </div>
  </div>
  <h1 x-text="user.username">
    {{user.username|capfirst }}
  </h1>
</div>
