<div class="info-card" >
  <div class="section-name">
    <p>Personal Info</p>
    <button type="button" @click="active='personalInfo'"></button>
  </div>
  <div class="section-content" x-show="full || active=='personalInfo'">
    <p><b>Email:</b><span x-text="user.email">{{user.email}}</span></p>
    <div class="d-flex  flex-column flex-lg-row justify-content-between">
      <p style="width: 30%"><b>Age: </b><span x-text="user.age">{{user.age}}</span></p>
      <div class="d-flex" style="width: 65%">
        <b style="width: 140px">Birth Date:</b>
        <input
          type="date"
          name="birth_date"
          value="{{user.birth_date}}"
          x-model="user.birth_date"
          class="form-control"
          style="width: 70%"
        />
      </div>
    </div>
    <b>Gender:</b>
    <div class="d-flex gap-5 mb-3 justify-content-around">
      <label>
        <input type="radio" value="M" x-model="user.gender"> Male
      </label>
      <label>
        <input type="radio" value="F" x-model="user.gender"> Female
      </label>
      <label>
        <input type="radio" value="O" x-model="user.gender"> Other
      </label>
    </div>
    <div class="d-flex flex-column flex-lg-row  justify-content-between">
      <div style="width: 45%">
        <b>Weight :</b>
        <span class="d-flex">
            <input type="number" class="form-control" x-model.number="user.weight">
            <b>kg</b>
        </span>
      </div>
      <div style="width: 45%">
        <b>height: </b>
        <span class="d-flex">
            <input type="number" class="form-control" x-model.number="user.height"> 
            <b>cm</b>
        </span>
      </div>
    </div>
    <hr />
  </div>
</div>
