/* default theme colors */
:root {
    --primary-color-rgb: 136, 192, 87;
    --secondary-color-rgb: 244, 229, 193;
    --accent-color-rgb: 255, 167, 38;
    --bright-lines-rgb: 255, 255, 255;
    --dark-lines-rgb: 51, 51, 51;
    --highlight-rgb: 255, 249, 196;
    --extra-rgb:0,166,255;
    --cover-rgb: 100,64,58;
}
/* dark theme colors*/
[data-theme="dark"]{
    --primary-color-rgb:46, 83, 57;
    --secondary-color-rgb: 28, 28, 28;
    --accent-color-rgb: 255, 138, 80;
    --bright-lines-rgb:224, 224, 224;
    --dark-lines-rgb:176, 176, 176;
    --highlight-rgb:229, 193, 106;
    --extra-rgb:0,122,204;
    --cover-rgb: 46,59,78 ;
}
/*Home Page: (seconedary)White background with orange(Primary) CTA buttons,(Accent) #007ACC/#00A6FF blue headers, and(dark-line) grey text.
Progress Tracker:(bright-lines)Light grey charts with (Primary)orange highlights to indicate progress, (Accent)blue text for labels.
Recipe Page: White cards with orange buttons, blue links, and grey text.
*/
/*-------------------------- general css---------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}
a{
    color: inherit ;
    text-decoration: none;
}
.diet{
    background-color: rgba(var(--accent-color-rgb),0.3) !important;
    border-color: rgb(var(--accent-color-rgb)) !important;
}
.exercies{
    background-color: rgba(var(--primary-color-rgb),0.3) !important;
    border-color: rgb(var(--primary-color-rgb)) !important;
}
.full{
    background-color: rgba(var(--cover-rgb),0.3) !important;
    border-color: rgb(var(--cover-rgb)) !important;
}
a:hover,
a:focus,
a:visited,
a:active {
    text-decoration: none; 
    color: inherit; 
    outline: none;
}

ul{
    margin: 0;
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    background-color: #f7f3e9;
    color: #333;
}
/*---------------------------------background css------------------------*/
.background_pattern {
    background: 
    radial-gradient(
        circle at center,
        rgba(var(--primary-color-rgb), 0.2)0%, 
        rgba(var(--accent-color-rgb), 0.5)40%,
        rgba(var(--secondary-color-rgb), 0.7)100%
    ),
    radial-gradient(
        circle at center, 
        rgba(var(--highlight-rgb), 0.3) 0%, 
        rgba(var(--bright-lines-rgb), 0.1) 100% 
    ),
    url('../images/background2.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}


.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---------------------------------- book css---------------------------*/
.cover {
    width:90% ;
    height: 90vh ;
    padding: 1%;
    background-color: transparent;
    box-shadow: -1px 4px 8px rgba(0,0,0,0.7),
           inset 0px 0px 0px 2vw rgba(var(--cover-rgb),0.7);
    border-radius: 2%;
    background-clip: padding-box;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;  
    overflow: hidden;
    z-index: -1;    
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../images/cover.png') no-repeat center center;
    background-size: cover;
    opacity: 0.3;
    z-index: -5; 
    pointer-events: none;
}


.page {
    width:98%;
    height: 98.5%;
    background-color: rgba(var(--bright-lines-rgb),0.003);
    box-shadow: -1px 4px 8px rgba(0,0,0,0.7);
    border-radius: 2%;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;  
    overflow: hidden;
    border: 2px solid rgb(var(--primary-color-rgb));  

}
#main-content{
    width: 78.35%;
    height: 78.35vh;
    border-radius: 2%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;  
    overflow: hidden;
    z-index: 100;

}
.page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../images/paper.png') no-repeat center center;
    background-size: cover;
    opacity: 0.7;
    z-index: -1; 
    pointer-events: none; 
}

.vertical-line {
    height: 84vh;
    width: 2vw;
    max-width:20px ;
    position: relative;
    top: 0;
    box-shadow: 0 0 25px 25px rgba(70, 70, 70, 0.2),
                inset 0 0 8px rgba(70, 70,70, 0.2);
    background-color: rgb(219, 219, 219);

}

/*-------------------------------- navigation css-----------------------*/

.nav-sections {
    height: 75vh;
    width: 4vw;
    background-color: transparent; 
    font-family: 'Merriweather', serif;
    position: absolute;
    top: 12.5vh;
    left: 6.7vw;
    display: flex;
    flex-direction: column;

}

.nav-item {
    color: rgb(var(--dark-lines-rgb)) !important;
    overflow: hidden;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    border: 3px solid rgb(var(--primary-color-rgb));
    border-radius: 0px 15px 15px 0px;
    background-color: rgb(var(--primary-color-rgb));
    position: relative;
    box-shadow: 2px -4px 8px rgba(0,0,0,0.8);
    height: 100%;
    font-size: 100%;
    line-height: 0.2 !important;
}
button a {
    display:flex; 
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nav-item i {
    transform: rotate(90deg);
}
.nav-sections > .nav-item:nth-child(1){
    background-color: rgb(var(--secondary-color-rgb)) !important;
    border-color: rgba(var(--highlight-rgb)) !important;
    width:85% ;
    margin-left:0.7vw ;
    z-index: 0 ;
}

.nav-sections > .nav-item:nth-child(2){
    width:81% ;
    z-index:-1 ;
    margin-left:0vw;
}

.nav-sections > .nav-item:nth-child(3){
    width:69% ;
    z-index:-2 ;
    margin-left:-0.55vw;
 }

.nav-sections > .nav-item:nth-child(4){
    width:65% ;
    z-index:-3 ;
    margin-left:-1.3vw;
}

.nav-sections > .nav-item:nth-child(5){
    width:57% ;
    z-index:-4 ;
    margin-left:-1.9vw ;
}

/*------------------------------------- footer css-----------------------*/
footer{
    position: absolute;
    bottom: 13vh;
    left:13.5vw;
    z-index: 100;
}

.sub-btn{
    width: 40px;
    height: 40px;
    background-color: rgba(var(--dark-lines-rgb),0.8);
    border: 3px solid rgb(var(--highlight-rgb));
    color: rgb(var(--bright-lines-rgb));
    box-sizing: content-box;
    border-radius: 50%;
}

/*------------------------------main pages content css-------------------*/ 
.container{
    width:47.5% ;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 10;
}
/*---------------------------- login css-------------------------------- */
#logo-img{
    padding-top: 25px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    color: rgb(var(--primary-color-rgb));
    position: absolute;
    top: 0;
    left: 0;
    font-size: 4.5vw;
    width: 100%;
}

#logo-img p{
    position: relative;
    top: 11px;
}

#logo-img img {
    width: 15%;
    min-width: 125px;
    max-width: 185px;
}

.login-form{
    width: 90%;
    height: 50;
    padding: 50px;
    border-radius: 30px;
    position: relative;
    box-shadow: 0 0 8px 4px rgba(70, 70, 70, 0.2),
                inset 0 0 8px rgba(70, 70,70, 0.2);
    background-color: rgba(var(--cover-rgb), 0.3);
    margin-top: 15%;
    z-index: 1;
    
}

.main-btn{
    width: 100%;
    margin-bottom: 14px;
    background-color: rgb(var(--accent-color-rgb));
    border: 2px solid rgba(var(--highlight-rgb), 0.3);
    color: rgb(var(--bright-lines-rgb)) !important;
}

.welcome-text{
    position: absolute;
    max-width: 412px;
    width: 35vw;
    font-size: 3.5em;
    color: rgb(var(--accent-color-rgb));
    margin-top: 20px;
    top: 0;
    left: 52.5%;
}

.welcome-img{
    display: flex;
    align-items: end;
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(
        rgba(0, 0, 0, 0) 15%,
        rgba(0, 0, 0, 1) 100%
    );
}

/* -------------------------------------profile css----------------------*/

.profile_page{
    padding-bottom: 72px !important;
    justify-content: space-between !important;
}
/* ---------------- header --------------*/ 
#profile-header{
    width: 100%;
    height: 160px;
    display: flex;
    position: relative;
    margin: 15px;
    align-items: center;
}
#profile-header #avatar{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 4px solid rgb(var(--accent-color-rgb));
    overflow: hidden;
    position: relative;
  
   
}
.img_container{
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}
#profile-header #avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

#profile-header h1{
    margin-left: 20px;
    font-size: 4em;
    color :rgb(var(--accent-color-rgb)) !important;
    text-transform: capitalize;
}
/*------------- content ----------------*/
.profile-nav{
    position: absolute;
    top: 150px;
    height: calc(72vh - 180px);
    z-index: -1;
    width: 4px;
    background-color: rgb(var(--accent-color-rgb));
}

.info-card{
    width: 100%;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1; 
    overflow: auto; 
}
.section-name{
    position: relative;
    display: flex;
    width: 85px;
    margin-right: 20px;
    color:rgb(var(--accent-color-rgb)) ;
    font-weight: bold;
    font-size: 0.95em;
    right: 0px;
}

.section-name button{
    position: absolute;
    background-color: #fff;
    border: 3px rgb(var(--accent-color-rgb)) solid;
    border-radius: 50%;
    left: 70px;
    width: 20px;
    height: 20px
    
}

.section-name button:hover{
    background-color: rgb(var(--highlight-rgb));
    z-index: 10;
}


.section-content{
    width: 72%;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    color: #777;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.section-content b{
    color: rgb(var(--primary-color-rgb)) !important;
}
.section-content td{
    padding: 0.15em !important;
    white-space: nowrap;
}
.radio_list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 0;
    color: #495057 ;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.radio_list label{
    display: flex;
    font-size: 1em;
    font-weight: bold;
    position: relative;
    top:0vw;
    left: 0;
}
.radio_list input{
    height:1.2em !important;
    position: relative;
    top: 0.2vw;
    margin-right: 5px;
}

.edit-icon {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.edit-container:hover .edit-icon {
    display: inline;
}
.profile-field {
    position: relative;
    padding-right: 30px;
}

.add-btn{
    width: 20px;
    height: 20px;
    font-size: 1em;
    color: rgb(var(--secondary-color-rgb));
    text-align: center;
    border: 2px solid rgb(var(--primary-color-rgb));
    border-radius:50% ;
    background-color: rgb(var(--accent-color-rgb)) ;
    display: none;
    cursor: pointer;
}

.del-btn{
    width: 15px;
    height: 15px;
    font-size: 0.75em;
    color: rgb(var(--secondary-color-rgb));
    text-align: center;
    border: 2px solid rgb(var(--primary-color-rgb));
    border-radius:50% ;
    background-color: rgb(245, 144, 127) !important;
    display: none;
    cursor: pointer;
}
.current_plan select{
    width: 20px;
    border: none;
    display: none;
}
.current_plan:hover select{
    display: inline;
}
.current_plan select:focus{
    width: 1px;
    color: #fff;
    background-color: rgba(var(--cover-rgb),0.2);
}
.submit{
    position: relative;
    width: 25px;
    height: 25px;
    color: rgb(var(--secondary-color-rgb));
    text-align: center;
    border: 2px solid rgb(var(--primary-color-rgb));
    border-radius: 50%;
    background-color:rgb(var(--accent-color-rgb));
    cursor: pointer;
    top: 15px;
}
tr:hover .add-btn,
tr:hover .del-btn,
b:hover .add-btn,
li:hover .del-btn{
    display: block !important;
    
}
.current_plan {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    height: 6vh;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
/*----------------------------------------------------------*/
.item_viewer{
    padding: 15px 40px 60px 40px;
    column-count: 2; 
    column-gap: 5vw;
    height:100%;
    width: 100%;
    pointer-events: none;

}

.ele-container{
    margin: 0;
    display: inline-block;
    break-inside: avoid; 
    position: relative;
    width: calc(((100% ) / 3 - 12px)); 
    height: 132px;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out; 
    pointer-events: all;
}

.image-container {
    position: relative;
    width: 100%; 
    top:15px;
    height: 120px;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    border: 3px solid ;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out; 
    pointer-events: all;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.image-details {
    position: absolute;
    left: 5px;
    top: 25px;
    overflow: none;
    height: 100%;
    font-size: 12px;
    font-weight: bold;
    opacity: 0;
    width: 80%;
    transition: opacity 0.5s ease-in-out; 
}


.image-container:hover img {
    transform: scale(1.1); 
    opacity: 0.5;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to top, rgba(0,0,0, 0.7), rgba(0,0,0, 0));
    transition: height 0.5s ease-in-out;
    opacity: 1; 
}

.image-container:hover .gradient-overlay, .folder-container:hover .gradient-overlay  {
    height: 100px; 
}

.image-container:hover .image-details, .folder-container:hover .image-details {
    opacity: 1; 
}

.folder {
    position: relative;
    left: 5px;
    font-size: 140px;
    width: 90%;
    height: 90%;
    display: inline-block;
    text-align: center;
    color: burlywood;
    transition: all 0.5s ease-in-out;
}


.folder-container{
    position: relative;
    top: 10px;
}
.folder-container h5{
    position: absolute;
    color: black;
    top: 50%;
    width: 100%;
    text-align: center;
}

.folder-container .gradient-overlay{
    background: linear-gradient(to top, rgba(222, 184, 135, 0.7), rgba(222,184,135, 0));
}

.folder-container:hover .folder{
    transform: scale(1.25); 
    opacity: 0.5;   
}

.folder-container:hover h5{
    opacity: 0;    
}

/*----------------------------------------------------------------*/



.nav-btn{
    text-align: center;
    color: rgb(var(--accent-color-rgb));
    border: 3px solid rgb(var(--accent-color-rgb));
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    font-size: 2em;
    cursor: pointer;
    pointer-events: all;

}
.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    cursor: pointer;
    z-index: 10;
}
.custom-select option{
    text-align: center;
    vertical-align: top;
    padding: 10px 0 ;
}

.custom-select:focus {
    height: 400%;
    size: 3; 
    overflow-y: auto; 
}

.custom-select option:checked {
    background-color: rgb(var(--secondary-color-rgb));
    color: black; 
}

.custom-select::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.groups select{
    position: absolute;
    top: 0;
    right: 0;
}

/*.info_card{
    width: 100%;
    position: relative;
    padding: 15px;
    margin: 0;
    margin-bottom: 2.5vw;
    top: 3vh;
    
}
.info_card h3{
    font-weight:600;
}
.info_card_body{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-around;
}
.info_card_body label {
    font-size: 1.3em;
    font-weight: bold;
}
    triangle overlay
.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 165px;
    width: 0;
    height: 0;
    border-right: 30px solid rgba(0, 0, 0, 0.7); 
    border-top: 30px solid transparent;transition: all 0.5s ease;
}
.image-container:hover .gradient-overlay {
    width: 100%;
    height: 100px;
    border-right: 0; 
    border-top: 0; 
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));       
}

*/
#anchor{
    position: absolute;
    top:12px;
    left:50px;
}
.controls > div{
    width: 45%;
    margin-left: 8%;
}
@media screen and (max-width:1300px) {
    .ele-container {
        width: calc(((100% ) / 2 - 12px)); 
       }
    }
@media screen and (max-width:850px) {
    /*---------------------------------- book css---------------------------*/
    .page {
        height: 99%;
        margin-bottom: 1.5%;
    }
    #main-content{
        height: 81.5vh;
        margin-bottom: 6.5%;    
    }
    .min-hide{
        display: none !important;
    }
    /*------------------------------main pages content css-------------------*/ 
    .container{
        height: auto;
        width: 100%;
    }

    /*-------------------------------- navigation css-----------------------*/
    .nav-sections {
        height: 4vh;
        width: 75vw;
        position: absolute;
        top: 2.5vh;
        left: 12.5vw;
        display: flex;
        flex-direction: row;
    
    }
    .nav-item {
        writing-mode:lr;
        transform: rotate(360deg);
        border: 3px solid rgb(var(--primary-color-rgb));
        border-radius: 15px 15px 0px 0px;
        background-color: rgb(var(--primary-color-rgb));
        position: relative;
        box-shadow: 2px -4px 8px rgba(0,0,0,0.8);
        width: 20% !important;
        text-wrap: nowrap;
    }
    .nav-item i {
        transform: rotate(360deg);
    }
    /*---------------------------- login css-------------------------------- */
    #logo-img{
        font-size: 3.5em;
    }

    .welcome-text{
        font-size:4vw;
        margin-left: 20px;
        width: 100%;
        max-width: 75%;
        left: 135px;
        top: 15%;

    }

    .login_res{
        position: absolute;
        z-index: -1;
        height: 100%;
    }

    /* -------------------------------------profile css----------------------*/

    .section-content{
        position:absolute;
        top: 190px;
        left: 110px;
    }
    .current_plan{
        height: 15vh;
    }
    .item_viewer{
        column-count: 1; 

    }
    .ele-container {
        width: calc(((100% ) / 3 - 12px)); 
       }
    /* .info_card{
        height: 77vh;
    }   
    .info_card input{
        margin:1vw ;
        width:65vw ;
    }
    .info_card input[type='radio']{
        margin:5px ;
        width:5vw ;
    }
#id_gender{
    margin-left:1vw ;
    width:60vw ;

}   


    .info_card_body label {
        font-size: 1.3em;
        position: relative;
        top: 2vw;
        left: 1.8vw;
    
    } */
    .controls div{
        width: 54%;
        margin-left:1% ;
       }
    
}
@media screen and (max-width:650px) {
    .ele-container {
        width: calc(((100% ) / 2 - 12px)); 
        }
        .item_viewer{
            column-count: 1; 
    
        }
    }
    