.editable-title, textarea{
    background-color:transparent;
    border: none;
    
    
}
h5 input{
    position: relative;
    width: 60% !important;
    text-align: center;
    pointer-events: none;
}
textarea{
    position: absolute;
    left: 8%;
    top: 11%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 80%;
    height: 75%;
    border-radius: 10px;
    display: none;

}
.editable-title:focus{
    padding: 5px;
    background-color: white;
    border: 1px #ddd; 
    border-radius: 3px;
    font-size: 1rem;
}

.ele-description{
    width: 100%;
    height:40%;
    overflow: auto;   
}
.ele-description::-webkit-scrollbar, .ele-container ul::-webkit-scrollbar{
    display: none; 
}

.ele-container ul{
    height: 120px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.filter-container {
    width: 200px;
    font-family: Arial, sans-serif;
    position: relative;
}

.filter-select {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.selected-options {
    font-size: 14px;
    color: #333;
}

.filter-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
}

.filter-menu::-webkit-scrollbar{
    display: none;
}

.dropdown-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.hidden-checkbox {
    display: none;
}

.hidden-checkbox:checked + label {
    background-color: #4caf50; 
    color: white;
    margin: 0;
}

.label {
    width: 100%;
    padding: 10px;
}

.filter-select.open .filter-menu {
    display: block;
}
