{% extends "layout.html" %} {% load static %} {% block script %} {% endblock %}
{% block title %}{{ slug|capfirst }}{% endblock %} {% block body %}
<div>
  <!-- Reusable error component -->
   <div
    id="error-container"
>
{% include "./components/errorMsg.html" with form=form %}
</div>

  <!-- Auth Form -->
  <form
    id="auth_form"
    hx-post="{% url slug %}"
    class="space-y-4"
    hx-target="#error-container"
    hx-swap="outerHTML"

  >
    {% csrf_token %} {{ form.as_p }}

    <button
      type="submit"
      class="w-full bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-md"
    >
      {% if slug == 'login' %}Log In{% else %}Register{% endif %}
    </button>

    <!-- Switch between login/register -->
    {% if slug == 'login' %}
    <button
      type="button"
      hx-get="{% url 'register' %}"
      hx-target="#auth_form"
      hx-swap="innerHTML"
      hx-push-url="{% url 'register' %}"
      class="w-full border border-gray-300 text-gray-700 py-2 rounded-md hover:bg-gray-100 mt-2"
    >
      Don’t have an account? Register
    </button>
    {% else %}
    <button
      type="button"
      hx-get="{% url 'login' %}"
      hx-target="#auth_form"
      hx-swap="innerHTML"
      hx-push-url="{% url 'login' %}"
      class="w-full border border-gray-300 text-gray-700 py-2 rounded-md hover:bg-gray-100 mt-2"
    >
      Already have an account? Log in
    </button>
    {% endif %}
  </form>
</div>
{% endblock %}
