{% extends "layout.html" %} 

{% load static %} 

{% block script %}
<link rel="stylesheet" href="{% static 'browser/styles.css' %}">
<script defer type="module" src="{% static 'browser/script.js' %}"></script>
{% endblock %} 

{% block title %}Browse{% endblock %} 

{% block body%}
  <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
    <div class="browser-container d-flex flex-column w-100 h-100" x-data="{showAddForm:false}">
   
        {% include "components/browser/filter.html" %} 
      
        {% include "components/paginator.html" %} 
        {% include "components/browser/creationForm.html" %} 

    </div>
{% endblock %}
