.card-list-grid {
  height: 100%;
  width: calc(100% - 4rem);
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-content: start;
}
.ele-container {
  margin: 0;
  position: relative;
  min-height: 150px;
  height: calc(100% / 4);
  max-height: 200px;
  width: calc((100% - 2rem) / 6);
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;

  pointer-events: all;
}
.ele-container:nth-of-type(6n + 3) {
  margin-right: 1rem;
}
.ele-container:nth-of-type(6n + 4) {
  margin-left: 1rem;
}

.image-container {
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  border: 3px solid;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
  pointer-events: all;
}
.image-container.recipe {
  background-color: rgba(var(--secondary-color-rgb), 0.7) !important;
  border-color: rgb(var(--secondary-color-rgb));
}
.image-container.diet {
  background-color: rgba(var(--accent-color-rgb), 0.7) !important;
  border-color: rgb(var(--accent-color-rgb));
}
.image-container.exercise {
  background-color: rgba(var(--primary-color-rgb), 0.7) !important;
  border-color: rgb(var(--primary-color-rgb));
}
.image-container.full {
  background-color: rgba(var(--cover-rgb), 0.7) !important;
  border-color: rgb(var(--cover-rgb));
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.image-details {
  position: absolute;
  left: 5px;
  top: 25px;
  overflow: none;
  height: 100%;
  font-size: 12px;
  font-weight: bold;
  opacity: 0;
  width: 80%;
  transition: opacity 0.5s ease-in-out;
}

.image-container:hover img {
  transform: scale(1.1);
  opacity: 0.5;
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  transition: height 0.5s ease-in-out;
  opacity: 1;
}
.diet .gradient-overlay {
  background: linear-gradient(
    to top,
    rgba(var(--accent-color-rgb), 0.7),
    rgba(0, 0, 0, 0)
  );
}
.exercise .gradient-overlay {
  background: linear-gradient(
    to top,
    rgba(var(--primary-color-rgb), 0.7),
    rgba(0, 0, 0, 0)
  );
}
.full .gradient-overlay {
  background: linear-gradient(
    to top,
    rgba(var(--cover-rgb), 0.7),
    rgba(0, 0, 0, 0)
  );
}
.recipe .gradient-overlay {
  background: linear-gradient(
    to top,
    rgba(var(--secondary-color-rgb), 0.7),
    rgba(0, 0, 0, 0)
  );
}

.image-container:hover .gradient-overlay,
.folder-container:hover .gradient-overlay {
  height: 100px;
}

.image-container:hover .image-details,
.folder-container:hover .image-details {
  opacity: 1;
}

/************************************************************/


.page {
  position: absolute;
  bottom: -15px;
  text-align: center;
  width: calc(100% - 3rem);
}
.page input {
  border: 1px solid rgb(var(--accent-color-rgb));
  outline: none;
  text-align: center;
  border-radius: 50%;
  color: rgb(var(--accent-color-rgb));
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: rgba(var(--secondary-color-rgb),0.7);
}
/****************************************************/
@media screen and (max-width: 1224px) {
  .ele-container {
    width: calc((100% - 2rem) / 4);
  }
  .ele-container:nth-of-type(6n + 3) {
    margin: 0;
  }
  .ele-container:nth-of-type(6n + 4) {
    margin: 0;
  }
  .ele-container:nth-of-type(4n + 2) {
    margin-right: 1rem;
  }
  .ele-container:nth-of-type(4n + 3) {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .ele-container {
    width: calc(100% / 3);
  }
  .ele-container:nth-of-type(4n + 2) {
    margin: 0;
  }
  .ele-container:nth-of-type(4n + 3) {
    margin: 0;
  }
}
@media screen and (max-width: 795px) {
  .ele-container {
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 600px) {
  .ele-container {
    width: 80%;
    margin: auto !important;
  }
}
