<form
  id="auth_form"
  x-data="{errors:[],inputRefs:{}}"
  x-init="$nextTick(()=>auth = new AuthForm($el ,$refs ,$data))"
  @submit.prevent="auth.submitForm($event,'{% url slug %}')"
  class="space-y-4"
  name="{{ slug }}"
>
<!-- Reusable error component -->
  <div id="error-container" x-ref="error-container">
    <template x-for="error in errors">
        <p class="input-error" x-text="error"></p>
    </template>
    {% include "./errorMsg.html" with form=form %}
  </div>
  {% csrf_token %} {{ form.as_p }}

  <button type="submit" class="btn btn-primary w-100 main-btn">
    {% if slug == 'login' %}Log In{% else %}Register{% endif %}
  </button>

  <!-- Switch between login/register -->
  {% if slug == 'login' %}
  <button
    type="button"
    @click="auth.swapContent('{% url 'register' %}')"
    class="btn btn-outline-secondary main-btn"
  >
    Don't have an account ?Register
  </button>
  {% else %}
  <button
    type="button"
    @click="auth.swapContent('{% url 'login' %}')"
    class="btn btn-outline-secondary main-btn"
  >
    Already have an account? Log in
  </button>
  {% endif %}
</form>
