<nav class="nav-sections" style="z-index: 115">
  <button class="nav-item active">
    <a href="{% url 'index' %}">
      <i class="fas fa-home"></i> &nbsp;
      <span class="nav-text">HOME</span>
    </a>
  </button>
  <button class="nav-item">
    <a href="{% url 'profile' %}">
      <i class="fas fa-user"></i>&nbsp;
      <span class="nav-text">PROFILE</span>
    </a>
  </button>
  <button class="nav-item">
    <a href="{% url 'browse'  %}">
      <i class="fas fa-clipboard-list"></i>&nbsp;
      <span class="nav-text">COLLECTIONS</span>
    </a>
  </button>
  <button class="nav-item">
    <a href="{% url 'discover'  %}">
      <i class="fas fa-utensils"></i> &nbsp;
      <span class="nav-text">DISCOVER</span>
    </a>
  </button>
  <button class="nav-item">
    <a href="{% url 'logs' %}">
      <i class="fas fa-book"></i>&nbsp;
      <span class="nav-text">LOGS</span>
    </a>
  </button>
</nav>
