:root {
  --primary-color-rgb: 136, 192, 87;
  --secondary-color-rgb: 244, 229, 193;
  --accent-color-rgb: 255, 167, 38;
  --bright-lines-rgb: 255, 255, 255;
  --dark-lines-rgb: 51, 51, 51;
  --highlight-rgb: 255, 249, 196;
  --extra-rgb: 0, 166, 255;
  --cover-rgb: 100, 64, 58;

  --book-closed: url("../assets/light/book-closed.png");
  --book-opened: url("../assets/light/book-open-lg.png");
  --book-opened-md: url("../assets/light/book-open-md.png");
  --book-opened-sm: url("../assets/light/book-open-sm.png");
}
/* dark theme colors*/
[data-theme="dark"] {
  --primary-color-rgb: 46, 83, 57;
  --secondary-color-rgb: 28, 28, 28;
  --accent-color-rgb: 255, 138, 80;
  --bright-lines-rgb: 224, 224, 224;
  --dark-lines-rgb: 176, 176, 176;
  --highlight-rgb: 229, 193, 106;
  --extra-rgb: 0, 122, 204;
  --cover-rgb: 46, 59, 78;

  --book-closed: url("../assets/dark/book-closed.png");
  --book-opened: url("../assets/dark/book-open-lg.png");
  --book-opened-md: url("../assets/dark/book-open-md.png");
  --book-opened-sm: url("../assets/dark/book-open-sm.png");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
}

body {
  background: url("../assets/dark/background.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/*------------layout---------------*/

.book {
  background: var(--book-opened);
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  box-shadow: 0 0px 20px 6px #000;
  overflow: hidden;
  background-clip: border-box !important;
  -webkit-background-clip: border-box;
}

main.closed {
  background: var(--book-closed);
  border-radius: 0 50px 50px 0 ;
  max-width: 800px !important;
  margin: 0 auto;
}

main.opened {
  background: var(--book-opened);
  border-radius: 40px;
}

div.content {
  height: calc(100% - 80px);
  padding: 20px 45px 45px;
  z-index: 101;
}

footer {
  justify-content: flex-start;
  width: 100%;
  bottom: 25px;
  left: 0;
  z-index: 100;
  padding: 0 20px;
}

footer.closed{
  justify-content: flex-end;
  margin: 0 calc(50% - 400px);
  max-width: 800px !important;

}
/*-------------------------------- navigation css-----------------------*/

.nav-sections {
    height: 75vh;
    width: 4vw;
    background-color: transparent; 
    font-family: 'Merriweather', serif;
    position: absolute;
    display: flex;
    flex-direction: column;

}

nav .nav-item {
    color: rgb(var(--dark-lines-rgb)) !important;
    overflow: hidden;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    border: 3px solid rgb(var(--primary-color-rgb));
    border-radius: 0px 15px 15px 0px;
    background-color: rgb(var(--primary-color-rgb));
    position: relative;
    box-shadow: 2px -4px 8px rgba(0,0,0,0.8);
    height: 100%;
    font-size: 100%;
    line-height: 0.2 !important;
}
button a {
    display:flex; 
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
/**************************************************/
.nav-sections {
  height: 4vh;
  width: 100%;
  padding-left: 5% ;
  display: flex;
  top: 5px;
  flex-direction: row;
}
nav .nav-item {
  writing-mode: lr;
  transform: rotate(360deg);
  border: 3px solid rgb(var(--primary-color-rgb));
  border-radius: 15px 15px 0px 0px;
  background-color: rgb(var(--primary-color-rgb));
  position: relative;
  box-shadow: 2px -4px 8px rgba(0, 0, 0, 0.8);
  text-wrap: nowrap;
}
nav .nav-item i {
  transform: rotate(360deg);
}
.nav-sections > .nav-item.active{
    background-color: rgb(var(--secondary-color-rgb)) !important;
    border-color: rgba(var(--highlight-rgb)) !important;
    
}
/* nav .nav-item i {
    transform: rotate(90deg);
}
.nav-sections > .nav-item:nth-child(1){
    background-color: rgb(var(--secondary-color-rgb)) !important;
    border-color: rgba(var(--highlight-rgb)) !important;
    width:85% ;
    margin-left:0.7vw ;
    z-index: 0 ;
}

.nav-sections > .nav-item:nth-child(2){
    width:81% ;
    z-index:-1 ;
    margin-left:0vw;
}

.nav-sections > .nav-item:nth-child(3){
    width:69% ;
    z-index:-2 ;
    margin-left:-0.55vw;
 }

.nav-sections > .nav-item:nth-child(4){
    width:65% ;
    z-index:-3 ;
    margin-left:-1.3vw;
}

.nav-sections > .nav-item:nth-child(5){
    width:57% ;
    z-index:-4 ;
    margin-left:-1.9vw ;
} */
/*---------elements----------*/
label {
  margin: 5px 0;
  color: rgb(var(--dark-lines-rgb));
}

/*inputs*/
input.form-control {
  background: transparent !important;
  border: 0 !important;
  border-bottom: 1px solid !important;
  border-radius: 0 !important;
  width: 100% !important;
  margin: 10px 0;
}

input.form-control:focus {
  background-color: rgba(var(--dark-lines-rgb), 0.8) !important;
  border: 1px solid white !important;
  border-radius: 5px !important;
  color: rgb(var(--bright-lines-rgb));
  box-shadow: 0px 2px 2px 2px #0000001f;
}

input.isInvalid {
  border-bottom-color: red !important;
}

.input-error {
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.invalid {
  border: 2px solid #dc3545;
  border-radius: 5px;
  outline: none;
}
h1:has(div.invalid)::before{
  content: "invalid input";
  color: #dc3545;
  font-size: 15px;
}
/*btns*/
.btn-outline-secondary {
  border-color: rgb(var(--secondary-color-rgb));
}

.main-btn {
  width: 100%;
  margin-bottom: 14px;
  border: 2px solid rgba(var(--highlight-rgb), 0.3);
  color: rgb(var(--bright-lines-rgb)) !important;
}

.sub-btn {
  width: 40px;
  height: 40px;
  background-color: rgba(var(--dark-lines-rgb), 0.8);
  border: 3px solid rgb(var(--highlight-rgb));
  color: rgb(var(--bright-lines-rgb));
  box-sizing: content-box;
  border-radius: 50%;
}
/* 
.add-btn{
    width: 20px;
    height: 20px;
    font-size: 1em;
    color: rgb(var(--secondary-color-rgb));
    text-align: center;
    border: 2px solid rgb(var(--primary-color-rgb));
    border-radius:50% ;
    background-color: rgb(var(--accent-color-rgb)) ;
    display: none;
    cursor: pointer;
} */

/* .del-btn{
    width: 15px;
    height: 15px;
    font-size: 0.75em;
    color: rgb(var(--secondary-color-rgb));
    text-align: center;
    border: 2px solid rgb(var(--primary-color-rgb));
    border-radius:50% ;
    background-color: rgb(245, 144, 127) !important;
    display: none;
    cursor: pointer;
} */

/*---------bootstrap overrides----------*/
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(var(--primary-color-rgb));
  --bs-btn-border-color: rgb(var(--primary-color-rgb));
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(var(--primary-color-rgb));
  --bs-btn-hover-border-color: rgb(var(--primary-color-rgb));
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(var(--primary-color-rgb));
  --bs-btn-active-border-color: rgb(var(--primary-color-rgb));
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(var(--primary-color-rgb));
  --bs-btn-disabled-border-color: rgb(var(--primary-color-rgb));
}
/*---------paginator-----------*/
.nav-btn {
  text-align: center;
  color: rgb(var(--accent-color-rgb));
  border: 3px solid rgb(var(--accent-color-rgb));
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  font-size: 2em;
  cursor: pointer;
  pointer-events: all;
}

/*--------tests-------*/
#content {
  transition: opacity 0.3s;
  opacity: 1;
}

/* Loader styling */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.spinner {
  border: 3px solid #ddd;
  border-top-color: #3498db;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}




.paginator-container {
  position: relative;
}